/* GLOBAL */

a:hover {
    text-decoration: none;
}

.btn-standard {
    background-color: #1dbf73;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    color: #fff;
    border: 1px solid transparent;
    padding: 15px 35px;
    margin: 0;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
}

.btn-standard:hover {
    color: #fff;
    background-color: #3fca89;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    padding: 0.7rem 0;
}

header .search-bar {
    position: relative;
}

header .search-bar .fa-search {
    position: absolute;
    left: 8px;
}

header .search-bar input {
    padding: 7px 7px 7px 28px;
}

header #join {
    color: #1dbf73;
    border: 1px solid currentColor;
    border-radius: 4px;
}

header #join:hover {
    color: white;
    background: #19a463;
    border-color: transparent;
}

/* HERO */

.hero {
    position: relative;
    overflow: hidden;
}

.hero video {
    width: 100%;
    height: 580px;
    object-fit: cover;
    vertical-align: middle;
}

.hero__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow: 0 -1px 2px rgb(0 0 0 / 30%);
}

.hero__caption h2 {
    font-size: 50px;
    line-height: 110%;
    max-width: 750px;
    margin: 0 auto;
}

.hero__caption h4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    max-width: 750px;
    margin: 5px auto 15px;
}

.hero__stats {
    background-color: rgba(255,255,255,.3);
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 0;
}

.hero__stats li {
    list-style-type: none;
    width: calc(100% / 3);
    font-size: 22px;
    line-height: 30px;
}

.hero__stats li strong {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
}

/* COMMUNITY */

.community__item {
    height: 305px;
    background-position: 50% 50%;
    background-size: cover;
    cursor: pointer;
}

.community__item h6 {
    font-size: 24px;
    line-height: 25px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 15px;
    bottom: 15px;
    z-index: 1;
    transition: opacity .3s;
}

.community__item.designer {
    background-image: url('../img/designer.jpg');
}

.community__item.developer {
    background-image: url('../img/developer.png');
}

.community__item.writer {
    background-image: url('../img/writer.png');
}

.community__item.video-editor {
    background-image: url('../img/video-editor.jpg');
}

.community__item.musician {
    background-image: url('../img/musician.jpg');
}

.community__item.voiceover {
    background-image: url('../img/voiceover.jpg');
}

.community__item.marketer {
    background-image: url('../img/marketer.png');
}

.community__item.cta div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.community__item.cta h3:before {
    content: '';
    background: transparent url('../img/sprite-start-selling.svg') no-repeat -300px 0;
    background-size: 350px;
    display: block;
    width: 50px;
    height: 36px;
    margin: 0 auto;
}

/* HOW-IT-WORKS */

.how {
    background: #f7f7f7;
}

.how h3 {
    color: #555;
}

.how h3::before {
    background: transparent url('../img/sprite-start-selling.svg') no-repeat 0 0;
    background-size: 350px;
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    margin: 10px auto;
}

.how .create-gig::before {
    background-position: -200px 0;
}

.how .deliver::before {
    background-position: -250px 0;
}

/* EDUCATION */

.education .container {
    background-color: #f7f7f7;
}

.education__info .learn-more {
    background: transparent url('../img/learn_more.svg') no-repeat 0 0;
    display: block;
    height: 45px;
    margin: 40px 0 20px;
}

.education__info p {
    margin: 0 0 40px;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #7a7d85;
}

.education__info .btn-standard {
    margin-top: 10px;
}

.education__video {
    position: relative;
    display: block;
}

#learn-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.education__video .btn-video-player {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -.5em;
    right: 50%;
    margin-right: -.5em;

    font-size: 67px;
    width: 1em;
    height: 1em;
    background: transparent url('../img/btn-video-player.svg') no-repeat 0 0;
    background-size: 3.85em 1em;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    background-position: 0 0;
}

.education__video .video-description {
    position: absolute;
    bottom: 20px;
    left: 10px;
    color: #fff;
}

.education__video .free-badge {
    align-self: flex-end;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1dbf73;
    margin-bottom: 3px;
    padding: 2px 8px;
    line-height: 100%;
}

.education__video .fa-star,
.education__video .rating-value {
    color: #ffc100;
    font-size: 14px;
    font-weight: 700;
}

.education__video .rating-count {
    font-size: 12px;
}

/* BUYER */

.buyer ul li {
    width: 25%;
    height: 289px;
}

.buyer .quote {
    position: relative;
    background-color: #f7f7f7;
}

.buyer cite {
    display: block;
    font: normal 14px/140% "Macan","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 25px;
}

.buyer ul li blockquote {
    position: absolute;
    font: italic 18px/140% Georgia,'Times New Roman',serif;
    color: #62646a;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
}

.buyer-1 {
    background-image: url('../img/buyer-1.jpg');
}

.buyer-2 {
    background-image: url('../img/buyer-2.jpg');
}

.buyer-3 {
    background-image: url('../img/buyer-3.jpg');
}

.buyer-4 {
    background-image: url('../img/buyer-4.jpg');
}
